<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish">
    <div fxFlex >
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <h3 >{{dish.name | uppercase}}</h3>
            </mat-card-title>
          </mat-card-header>
          <img mat-card-image src="{{ BaseURL + dish.image}}" alt={{dish.name}}>
          <mat-card-content>
            <p>{{dish.description}}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button [routerLink]="['/dishdetail', prev]"><i class="fas fa-chevron-left fa-lg"></i></button>
            <button mat-button (click)="goBack()">BACK</button>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
            <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/dishdetail', next]"><i class="fas fa-chevron-right fa-lg"></i></button>
          </mat-card-actions>
        </mat-card>
      </div>
  </div>

  <div fxFlex="40" *ngIf="dish">
      <h2>Comments</h2>
    <mat-list *ngFor="let c of dish.comments">
        <mat-list-item >        
           <h4 matLine>{{c.comment}}</h4>
          <p matLine>{{c.rating}} Stars</p>
          <p matLine><span>--{{c.author}} {{c.date }}</span></p>
        </mat-list-item>
      </mat-list>

        <mat-list *ngIf="this.commentsForm.valid">
          <mat-list-item>        
             <h4 matLine>{{commentsForm.value.comment}}</h4>
            <p matLine>{{commentsForm.value.rating}} Stars</p>
            <p matLine><span>--{{commentsForm.value.author}} {{this.comment.date  }}</span></p>
          </mat-list-item>
        </mat-list>

      <form novalidate [formGroup]="commentsForm" #cform="ngForm" (ngSubmit)="onSubmit()">
        <table >
          <tr class="full-width">
            <mat-form-field class="full-width">
              <input matInput formControlName="author"  placeholder="Name" type="text" required>
              <mat-error *ngIf="formErrors.author">
                {{ formErrors.author }}
              </mat-error>
            </mat-form-field>
          </tr>
          <tr>
            <mat-slider thumbLabel tickInterval="1" min="1" max="5" value="5"></mat-slider>
          </tr>
          <tr class="full-width">
            <mat-form-field class="full-width">
              <textarea matInput formControlName="comment" placeholder="Your comment" rows="12" required></textarea>
              <mat-error *ngIf="formErrors.comment">
                {{ formErrors.comment }}
              </mat-error>
            </mat-form-field>
          </tr>
        </table>
      <button type="submit" mat-button class="background-primary text-floral-white">Submit</button>
    </form> 
  </div>

  
<div [hidden]="dish || dderrorMess">
  <mat-spinner></mat-spinner><h4>Loading . . . Please wait!</h4>
</div>
<div fxFlex *ngIf="dderrorMess">
  <h2>Error</h2>
  <h4>{{ dderrorMess }}</h4>
</div>
</div>
